.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
	-fx-text-alignment: center;
    -fx-text-fill: Red;
    -fx-font-size: 18;
}

.button:hover {
    -fx-background-color: DarkCyan;
    -fx-text-fill: White;
}

.button:pressed {
    -fx-background-color: Black;
    -fx-text-fill: White;
}